
@media screen and (max-width: 900px) and (orientation: portrait) {
    .Main {
        transform: rotate(90deg);

        transform-origin: left bottom;
        
        height: 100vw;
        width: 100vh;

        overflow: auto;
        position: absolute;
        bottom: 100%;
    }
}
