* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@media only screen and (max-width: 900px) and (orientation: portrait) {
  html {
    height: 100%;
    width: 100vh;
    transform: rotate(90deg);
  }
}
