.Shapes {
    background: lightgrey;
}

.Box {
    width: 30px;
    height: 30px;
    border-top: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid goldenrod;
    border-left: 30px solid transparent;

    margin: 10px;
}


.Rectangle {
    position: relative;
    width: 100px;
    height: 57.8px;
    background: #CD5C5C;
    margin: 28.9px auto;
}

.Rectangle::before, .Rectangle::after {
    content: "";
    position: absolute;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.Rectangle::before {
    bottom: 100%;
    border-bottom: 28.9px solid #CD5C5C;
}

.Rectangle::after {
    top: 100%;
    border-top: 28.9px solid #CD5C5C;
}


.HexShape {
    border: solid;
    margin: 50px;
    padding: 100px;
}