.Square2 {
    background: lightgoldenrodyellow;
    border: 5px solid darkred;
    /* margin: 5px; */
    padding: 5px;
    height: 20vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}