.Shapes {
    background: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Box {
    width: 30px;
    height: 30px;
    border-top: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid goldenrod;
    border-left: 30px solid transparent;

    margin: 10px;
}

.Rectangle {
    position: relative;
    width: 50px;
    height: 28.86px;
    background: #CD5C5C;
    margin: 14.4px auto;
}

.Rectangle::before, .Rectangle::after {
    content: "";
    position: absolute;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
}

.Rectangle::before {
    bottom: 100%;
    border-bottom: 14.43px solid #CD5C5C;
}

.Rectangle::after {
    top: 100%;
    border-top: 14.43px solid #CD5C5C;
}

.HexShape {
    border: solid;
    margin: 100px;
    padding: 100px;
}